*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #e0F6FF); 
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#score {
     position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;  
    font-family: 'Press Start 2P', cursive; 
    font-size: 24px; 
    text-shadow: 2px 2px 5px #000;  
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
    z-index: 10;
}

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.modal-content h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    margin-bottom: 15px;
}

.modal-content p {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: #f1c40f;  
    text-shadow: 2px 2px 5px #000; 
    margin-bottom: 20px;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;
}

.clouds{
    width: 550px;
    position: absolute;
    animation: clouds-animation 20s infinite linear;
}

@keyframes pipe-animation{
    from{
       right:-80px;
    } 
    to{
        right: 100%;
    }
}   

@keyframes jump{
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation{
   from{
    right: -550px;
   }
   to{
    right: 100%;
   }
}
